/* header */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;

    font-family: 'Roboto', sans-serif;
    line-height: 16px;

}

#header {
    width: 100%;
    height: 50px;
    background-color: black;
}



.box .list_item {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.list_item .it {
    font-size: 20px;
    color: white;
    font-weight: 500px;
    line-height: 50px;

}

.it a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

/* end-header */

/* content */
#content {
    width: 100%;
    padding: 50px;

}

.list_ct {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo,
.modal-signin {
    margin: 0 10px;

    /* Add some space between the elements */
}

.modal-signin {
    background-color: #ccc;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.box_lg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img img {
    max-width: 100%;
}

.modal_content {
    width: 100%;
    text-align: center;
}

.content_header {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;


}

.content_header h2 {
    line-height: 40px;
}

.content_body {
    padding: 20px;
}

.it_3 {
    width: 100%;
    padding-top: 10px;
}

.b_input {
    width: 80%;
    padding: 5px;
    outline: none;
}

.b_btn {
    padding: 5px;
}

.content_foote {
    padding-top: 20px;
}

.line {
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.f_box {
    padding-top: 20px;
}

.f_box .f_btn {
    width: 100px;
    padding: 5px;
}

.b_btn,
.f_btn:hover {
    cursor: pointer;
}

/* end-content*/


/* footer */

#footer {

    color: white;
    width: 100%;
    background-color: black;

}

.box_f {
    margin: auto;
    padding-top: 20px;
}

.box_f ul {
    display: flex;
    justify-content: space-around;
    list-style: none;


}

#footer .f_item {
    flex: 0 0 20%;



}

.f_item h2 {
    padding-bottom: 5px;
}

.f_input {
    padding: 10px 0 10px 0;
}

.f_input .f_btn {

    width: 167px;

}

.f_item a {

    text-decoration: none;
    padding-right: 10px;
}

.f_ico {
    color: white;
    font-size: 30px;
}

/* end-footer */